<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <!-- jQuery -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
  <!-- call jquery function for uploading -->
  <script type="text/javascript" src="uploadimage.js"></script>
  <script type="text/javascript" src="boxdraw.js"></script>
  <script>
    $(() => {
      $('#OpenImgUpload').click(() => { $('#imgupload').trigger('click'); });
    })
  </script>
  <title>Annotator</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="navbar-container">
        <div class="brand">Annotator</div>
      </div>
    </nav>
  </header>
  <div>
    <button id="interesting">Interesting</button>
    <button id="uninteresting">Not interesting</button>
  </div>
  <canvas id="canvas" width="1000" height="500">
  </canvas>
  <div class="controlers">
    <button id="JSONOutput" class="button">JSON Output</button>
    <button id="OpenImgUpload" class="button">Upload Image</button>
    <input type="file" id="imgupload" style="display:none" />
  </div>


</body>

</html>